.app {
	display: grid;
	place-items: center;
	background-color: rgb(182, 235, 172);
	height: 100vh;
}
.app__body {
	position: relative;
	display: flex;
	background-color: #ededed;
	margin-top: -20px;
	height: 95vh;
	width: 45vw;
	box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 1);
	overflow: hidden;
}
